*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  display: inline-block;
}
.logo:first-child {
  margin-right: 76px;
}
.first-header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1440px;
  height: 72px;
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  background-color: white;
  margin: 0 15px 0 15px;
}

.logo-black {
  font-family: "Raleway, sans-serif";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.navi-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.navi-menu {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .navi-menu:hover::before,
.navi-menu:hover::after {
  color: #404bbf;
} */
.navi-menu:hover,
.navi-menu:focus {
  color: #404bbf;
}
.check:hover::before,
.check:hover::after {
  content: "";
  width: 100%;
  position: absolute;
  /* position: relative; */
  color: #404bbf;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.underline {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress {
  font-style: normal;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  gap: 40px;
  padding: 24px 0;
}
.contact-list {
  list-style-type: none;
  font-style: normal;
  margin-right: auto;
  display: flex;

  gap: 40px;
  padding: 24px 0;
  display: flex;
  gap: 40px;
}
.contact {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  display: flex;
  gap: 40px;
}

.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}

.page-header {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px auto;
}
.page-header-layout {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  max-width: 1440px;
  background-position: 50% 50%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.features-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.features {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-li {
  width: calc((100% - 72px) / 4);
}
.features-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
.big-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}
.big-icon {
  position: relative;
}
.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.photo-crew {
  background-color: #ffffff;
  width: calc((100%-48px) / 3);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-list {
  list-style-type: none;
  gap: 24px;
  display: flex;
}
.header-crew {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.div-crew {
  padding: 32px 0;
}

.small-icons-div {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 8px 16px 0 16px;
}

.small-icons {
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  list-style: none;
}
.icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icons:focus,
.icons:hover,
.icons:active {
  background-color: #404bbf;
}

.icon-team {
  fill: #f4f4fd;
  top: 12px;
  left: 12px;
}

.header-three {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.portfolio-p {
  margin-bottom: 8px;
  text-align: center;
}

.photo-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-div {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}
.logo-white {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 332px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-two {
  padding: 120px 0px;
}
.section-three {
  background-color: #f4f4fd;
  padding: 120px 0px;
}
.section-four {
  background-color: #ffffff;
  padding-bottom: 120px;
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.portfolio-photo {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-photo:focus,
.portfolio-photo:hover {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.text-on-image {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
}
.portfolio-photo:focus .text-on-image,
.portfolio-photo:hover .text-on-image {
  transform: translateY(0);
}

.show-text-on-images {
  position: relative;
  overflow: hidden;
}

.logo-footer {
  margin-bottom: 16px;
}
.footer-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-p {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 16px;
}

.small-icons-footer {
  display: flex;
  gap: 16px;
}

.icons-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer:hover,
.icons-footer:active,
.icons-footer:focus {
  background-color: #31d0aa;
}
.icon-footer-color {
  fill: #f4f4fd;
}
.footer-left {
  margin-right: 120px;
  padding: 0 15px;
}
.subsc {
  margin-left: auto;
}
.subsc-form {
  display: flex;
  gap: 24px;
}

.subsc-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-form-footer {
  fill: white;
  margin-left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  display: block;
}
